// WorkSans font definitions

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-Thin.woff2) format('woff2');
	font-weight: 100;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-ExtraLight.woff2) format('woff2');
	font-weight: 200;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-Light.woff2) format('woff2');
	font-weight: 300;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-Regular.woff2) format('woff2');
	font-weight: 400;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-Medium.woff2) format('woff2');
	font-weight: 500;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-SemiBold.woff2) format('woff2');
	font-weight: 600;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-Bold.woff2) format('woff2');
	font-weight: 700;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-ExtraBold.woff2) format('woff2');
	font-weight: 800;
	font-display: auto;
}

@font-face {
	font-family: 'WorkSans';
	src: url(/fonts/WorkSans/WorkSans-Black.woff2) format('woff2');
	font-weight: 900;
	font-display: auto;
}
