@forward 'colors.scss';
@forward 'fonts.scss';

html,
body,
#__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
	font-family: WorkSans;
	color: var(--font-primary-color);
}

a {
	color: inherit;
	text-decoration: none;
}

a,
p {
	font-weight: normal;
}

* {
	box-sizing: border-box;
}
