:root {
	--background-color: #151515;
	--font-primary-color: #d2d2d2;
	--font-secondary-color: #d2d2d2;
	--primary-color: #1d66b8;
	--secondary-color: #d2d2d2;
}

:root[data-theme='light'] {
}

html,
body,
#__next {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--background-color);
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	color: var(--font-primary-color);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
