.headerContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 3em;
}

.titleContainer {
	width: 100%;
	background-color: var(--primary-color);
	color: var(--background-color);
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 6em;
	font-size: 1.8em;
}
