@use '/src/styles/breakpoints';

.rootContainer {
	display: flex;
	align-items: center;
	justify-content: space-around;

	@include breakpoints.sm {
		margin-top: 2em;
	}
}

.itemContainer {
	font-weight: lighter;
}
